h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:oblique;
    margin-top: 10px;
    color: rgb(22, 33, 49);
}

#lorem {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    margin-right: 900px;
    margin-left: 0px;
    padding: 0px 20px 0px 20px;
    
    font-size: 20px;
    color: rgb(13, 28, 51);
    text-align: justify;
    
}
ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    margin-left: 30px;
    color:rgb(13, 28, 51);

}

  
   
    
    .sag {
       
        position: absolute;
        right: 100px;
        top: 150px;
        } 
    
    body {
        background-color: rgb(243, 154, 138);
    }
    
       


    



