html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.tophead {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1BAAA0;
    align-items: center;
    height: 42px;

}

header {
    width: 100%;
    height: 42px;
}


.tophead ul {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 230px;
    margin-right: 170px;



}


.tophead ul li {
    list-style: none;

}


header .tophead ul a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.tophead ul :hover {
    color: #9ddbd6;
}

/*-========================================================*/




.navbar {
    background-color: #d1eeec;
    width: 100%;
    height: 100px;
    align-items: center;
    position: absolute;

}

.list {
    display: flex;
    justify-content: center;
    align-items: center;

}

.list ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 90px;
    align-items: center;
    width: 600px;

}


header nav ul li a {
    text-decoration: none;
    color: rgb(54, 50, 50);
    font-family: monospace;
    font-size: 18px;
    justify-content: center;

}



.logo img {
    position: relative;
    top: 30px;
    left: 170px;
    width: 154.4px;
}
.button {
    border: none;
    color: rgb(255, 251, 251);
    padding: 15px 32px;
    position: absolute;
    bottom: 30px;
    right: 180px;
    font-family: sans-serif;
    width: 148px;
    height: 50px;
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
    cursor: pointer;
    border-radius: 5px;
}

.button1 {
    background-color: #1BAAA0;
}

  .button :hover {
    background-color: #147e77;

}

.container {
    display: flex;
    justify-content: center;
background-color:#d1eeec ;
    width: 1489px;
    margin-top:5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 660px;
}
.container .header .items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:absolute;
    width: 400px;
}
.container .header .items .part1 {
    width: 400px;
    
}
.container .header .items .part1 h2 {
    align-items: center;
    position: relative;
    top: 50px;
    bottom: 5px;
    right: 320px;
    font-size: 60px;
    font-family:sans-serif;
    font-weight: bold;
    width: 550px;
   
}
.container .header .items .part2 .img {
  right: 90px;
  top: 40px;
  position: relative;
   
   
}
.container .header .items .part1 .form form input {
    position: relative;
bottom: 5px;
top: 80px;
right: 320px;
width:550px ;
height: 80px;
border-style:hidden;
}


.container .header .items .part1 .form form .button2{
    border: none;
    color: rgb(255, 251, 251);
    padding: 15px 32px;
    position: relative;
    top: 10px;
    bottom: 0px;
    left: 100px;
     font-family: sans-serif;
    width: 125px;
    height: 60px;
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
    cursor: pointer;
    border-radius: 5px; 
    background-color: #1baaa0;
}
.sctn {
    margin-top: 760px;    
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    height:590px ;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.sctn .maincon {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    
    width: 80%;
}
.sctn .container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    

}
.sctn .container2 h2 {
    position: relative;
    font-size: 45px;
    font-weight: bold;
    font-family: sans-serif;
    right: 90px;
    display: inline-block;
    margin-top: 5px;
    margin-left:0px;

margin-bottom:530px ;
}

.sctn .container2  p {
font-size: 15px;
width: 523px;
color: #747474;
bottom: 260px;
left:140px;
position:relative;
font-family:sans-serif;
}
.sctn .maincon .boxes{
    padding: 40px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: default;
    display: flex;
    justify-content: center;
    width: 100%;  
}


.sctn .maincon  .boxes  .box1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 230px;
    background-color:#002b44;
    margin: 20px;
   
 
}
 .sctn .maincon  .boxes  .box2 {
     background-color: #fff;
     display: flex;
     justify-content:center;
     align-items: center;
     width: 400px;
     height: 230px;
     margin: 20px;
 }    
    

 .sctn .maincon  .boxes  .box3 {
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 230px;
    margin: 20px;
 }
    
 
 .sctn .maincon  .boxes   .box4{
    background-color:#002b44;
    margin-left: -15px;;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 230px;
     margin: 20px;
  

 }
 .sctn .maincon  .boxes  .box5{
    background-color: #002b44;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 230px;
    margin: 20px;
    
    
      
 }
 .sctn .maincon  .boxes  .box6{
    
    background-color: #002b44;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 230px;
    margin: 20px;
 }












